.button {
  &:hover {
    cursor: pointer;
  }

  &__primary {
    background-color: transparentize($primary-color, 0.6);
    color: $primary-text-light;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    border: 2px solid transparentize($primary-border, 0.6);
    box-shadow: $box-shadow-lighten;
    box-shadow: 0 0 12px $primary-border;
  
    &:hover {
      box-shadow: $box-shadow;
      text-shadow: $text-shadow
    }
  
    &:active {
      background-color: lighten($primary-color, 10%);
      box-shadow: $box-shadow;
      text-shadow: $text-shadow
    }
  
    &--visited {
      background-color: lighten($primary-color, 10%);
      box-shadow: $box-shadow;
      text-shadow: $text-shadow
    }
  }
}
