.button {
  background-color: $primary-color;
  color: $primary-text-light;
  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: 50px;
  border: 2px solid $primary-border;

  &:hover {
    cursor: pointer;
    background-color: lighten($primary-color, 10%);
    box-shadow: $box-shadow-lighten;
  }

  &:active {
    background-color: darken($primary-color, 10%);
    box-shadow: none;
    border-color: darken($primary-border, 20%);
    color: darken($primary-text-light, 20%)
  }

  &--visited {
    background-color: lighten($primary-color, 75%);
    color: $primary-text-dark;
    box-shadow: $box-shadow-lighten;
  }
}
