// _palette.scss

// Escala de Grises
$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000000;

// Colores Primarios
$primary-color: #03121b;
$primary-text: $gray-200;
$primary-border: lighten($primary-color, 20%);
$primary-color-transparent: transparentize($primary-color, 0.75);

// Colores Secundarios

// Colores de Acento

// Estados
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$error-color: #dc3545;

// Background Claro y Oscuro
$background-light: $gray-100;
$background-dark: $gray-900;
$background-dark-transparent: transparentize($background-dark, 0.75);
