@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

$box-shadow: 0 0 5px 0 transparentize($black, 0.5);
$box-shadow-lighten: 0 0 10px 0 transparentize($white, 0.5);

$delay: 3s;
$duration: 1s;
