.interactive {
  background-color: $background-dark-transparent;
  padding: 3rem;
  width: 100%;
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: visibility $duration, opacity $duration linear, bottom $duration linear;

  &--hidden {
    transition: $delay visibility $duration, $delay opacity $duration linear, $delay bottom $duration linear;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    bottom: 0;
  }

  &__options {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    justify-content: center;
  }
}

.mobile .interactive {
  padding: 1rem;
}
