.timer {
  background-color: $gray-200;
  border-radius: 0.5rem;
  box-shadow: $box-shadow-lighten;
  height: 1.5rem;
  margin: 0px auto 1rem;
  transition: height 1s linear, width 1s linear;
  width: 100%;

  &--hidden {
    height: 0;
  }
}
